<h4>Internal Server Error</h4>
@if (error) {
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this error then angular is not blame!</p>
    <p>what to do next?</p>
    <ol>
        <li>Open chorme dev tools and check the failing network request in th network tab</li>
        <li>Examine the URL of faling request</li>
        <li>Reproduce the error in postman - if you can reproduce the error then angiular is not to blame</li>      
    </ol>
    <p class="font-weight-bold">Following is the stack trace - check the first 2 lines
         tells you exactly which line of code caused the problem!</p>
    <code class="mt-5" style="background-color: whitesmoke;">
        {{error.details}}
    </code>

}